[core]
	editor = nano
[user]
	name = Nathan Douglas
	email = github@darkdell.net
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEu076rqH1amiR+XFsD6VLZPpeqEokZ2QQkCEWGG/Ixs
[pull]
	rebase = true
[init]
  defaultBranch = main
[status]
	submoduleSummary = true
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
